# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Output files (you might want to ignore these depending on your use case)
*.csv
*.xlsx